@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display-swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Space Mono', monospace;
}

:root {
  --bg-color: #050011;
  --second-bg-color: #08001a;
  --text-color: #fff;
  --main-color: #4110BE;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Space Mono', monospace;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html ::-webkit-scrollbar {
  width: 10px;
}

html ::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: var(--main-color);
}

html ::-webkit-scrollbar-track {
  background: var(--bg-color);
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
  font-family: 'Space Mono', monospace;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}

.header h1 {
  font-family: 'Space Mono', monospace;
}

.header.sticky {
  border-bottom: .1rem solid rgba(0, 0, 0, .2)
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  font-weight: 600;
  margin-left: 4rem;
  transition: .3s ease;
  font-family: 'Poppins', sans-serif;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
  font-family: 'Space Mono', monospace;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 1rem;
}

span {
  color: var(--main-color);
  font-family: 'Space Mono', monospace;

}

.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.1;
  font-family: 'Space Mono', monospace;
}

.home-content p {
  font-size: 1.6rem;
  font-family: 'Space Mono', monospace;
}

.texto-home {
  margin-bottom: 3rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2.3rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.4rem;
  color: var(--text-color);
  letter-spacing: .1rem;
  font-weight: 600;
  transition: .5s ease;
  font-family: 'Space Mono', monospace;

}

.btn:hover {
  box-shadow: none;
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-2.4rem);
  }

  100% {
    transform: translateY(0);
  }
}

.home-img img {
  width: 25vw;
  animation: floatImage 4s ease-in-out infinite;
}

.regras {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background: var(--second-bg-color);
}

.regras-img img {
  width: 35vw;
}

.heading {
  text-align: center;
  font-size: 4.5rem;
}

.regras-content h2 {
  text-align: left;
  line-height: 1.2;
}

.regras-content h3 {
  font-size: 2.6rem;
}

.regras-content p {
  font-size: 1.6rem;
}

.texto-regras {
  margin-top: 2rem;
  margin-bottom: 3rem;
}


.contact h2 {
    margin-bottom: 1rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}


.comecar {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: auto;
  padding-bottom: 10rem;
}

.comecar h2 {
  margin-bottom: 1rem;
  line-height: 1.1;
}

.comecar p {
  font-size: 1.6rem;
  text-align: center;
}

.comecar a {
  margin-top: 3.3rem;
}









@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }

  section {
    padding: 10rem 3% 2rem;
  }
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    display: none;
  }

  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }

  .home {
    flex-direction: column;
    align-items: center;
    justify-content: normal;
  }

  .home-content h3 {
    font-size: 2.6rem;
  }

  .home-content h1 {
    font-size: 5rem;
  }

  .home-img img {
    width: 60vw;
    margin-top: 8rem;
  }

  .texto-home {
    margin-top: 2rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 365px) {
  .home-img img {
    width: 75vw;
  }
}